<div class="container ptpb">

<h3>Book Your Pokemon</h3>

<div class="calendar_show">
  <div class="calendar_container">
    <%= @already_booked %>
    <%= month_calendar pokemon: @bookings do |date, bookings| %>
      <% if date > DateTime.current.to_date %>
        <div class="cursor" style="cursor: pointer;">
          <div class="round">
          <%= date.day %>
          </div>
          <span style="display: none"><%= date %></span>
        </div>
       <% else %>
        <div class="cursor-past" style="cursor: pointer;">
          <div class="round">
          <%= date.day %>
          </div>
          <span style="display: none"><%= date %></span>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="pokemon_show">
    <%= @pokemon.name %>
  </div>
</div>

<div class="calendar_form">
  <%= simple_form_for @booking, wrapper: :inline_form do |f| %>
    <%= f.input :pokemon_id, :as => :hidden, :input_html => { :value => params[:pokemon_id] } %>
    <%= f.input :date, label: "Date of Booking", as: :string%>
    <%= f.button :submit %>
  <% end %>
</div>

</div>
