<div class="container ptpb">
  <h1>Your booking</h1>
  <br>
  <div class="card-product">
    <%if @pokemon.photo.attached? %>
      <%= cl_image_tag @pokemon.photo.key, class: "card-product-img" %>
    <% end %>
    <div class="card-product-infos">
      <ul>
        <li><h5><%=@booking.pokemon.name%></h5></li>
        <br>
        <li><h6>Date: </h6> <%= @booking.date %> </li>
        <br>
        <li><h6>Owner : </h6> <%=@pokemon.user.email  %> </li>
      </ul>
    </div>
    <div class="card-product-infos">
      <h6>Booking status :
        <% if @booking.status == nil %>
              <br>
              <p style="color:pink">Waiting for confirmation</p>
        <% elsif @booking.status == true %>
          <p style="color:green">Confirmed</p>
        <% else %>
          <p style="color:red">Refused</p>
        <% end %>
      </h6>
    </div>
  </div>
<br>

  <p><%= link_to 'Add a review', new_booking_review_path(@booking) %></p>

  <h2>Conversation: </h2>
  <br>

  <% @messages.each do |message| %>
    <div class="message">
      <p><strong><%= message.content %></strong></p>
      <div class="author"><%= User.find(message.user_id).email %></div>
    </div>
  <% end %>

  <div class="messageform">
    <%= simple_form_for @message do |f| %>
      <%= f.input :content, input_html: { class: 'question' }, label: 'Send a message to the owner'%>
      <%= f.input :conversation_id, :as => :hidden, :input_html => { :value => @conversation.id } %>
      <%= f.button :submit %>
  <% end %>
  </div>
</div>
