<div class="container ptpb">
<div class="card-product">
  <%if @pokemon.photo.attached? %>
      <%= cl_image_tag @pokemon.photo.key, class: "card-product-img" %>
    <% end %>
  <div class="card-product-infos">
    <h2>Your booking</h2>
    <ul>
      <li>Pokemon: <%=@booking.pokemon.name%></li>
      <li>User : <%= @booking.user.email %>  </li>
      <li>Owner : <%=@pokemon.user.email  %> </li>
    </ul>
  </div>
</div>
<br>

<p><%= link_to 'Add a review', new_booking_review_path(@booking) %></p>

<h2>Conversation: </h2>
<br>

<% @messages.each do |message| %>

<div class="message">
<p><strong><%= message.content %></strong></p>
<div class="author"><%= User.find(message.user_id).email %></div>
</div>
<% end %>

<div class="messageform">
<%= simple_form_for @message do |f| %>
  <%= f.input :content, input_html: { class: 'question' }, label: 'Send a message to the owner'%>
  <%= f.input :conversation_id, :as => :hidden, :input_html => { :value => @conversation.id } %>
  <%= f.button :submit %>
<% end %>
</div>
</div>