
<div class="card-product">
  <%if @pokemon.photo.attached? %>
      <%= cl_image_tag @pokemon.photo.key, class: "card-product-img" %>
    <% end %>
  <div class="card-product-infos">
    <h2>Your booking</h2>
    <ul>
      <li>Pokemon: <%=@booking.pokemon.name%></li>
      <li>User : <%= @booking.user.email %>  </li>
      <li>Owner : <%=@pokemon.user.email  %> </li>
    </ul>
  </div>
</div>
<br>

<p><%= link_to 'Add a review', new_booking_review_path(@booking) %></p>

<h2>Conversation: </h2>
<br>

<% @messages.each do |message| %>
<li><%= message.content %></li>
by
<%= User.find(message.user_id).email %>
<br>
<br>
<% end %>

<br>
<br>
<%= simple_form_for @message do |f| %>
  <%= f.input :content %>
  <%= f.input :conversation_id, :as => :hidden, :input_html => { :value => @conversation.id } %>
  <%= f.button :submit %>
<% end %>
