<div class="container ptpb">
  <h1>Edit my profile</h1>
  <%= simple_form_for @user do |f| %>
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :email %>
    <%#= f.input :current_password %>
    <%#= f.input :password %>
    <%#= f.input :password_confirmation %>
    <%= f.submit "Save", class: 'btn btn-primary' %>
  <% end %>
</div>
