<div class="container">
  <div class="cards">

    <div class="card" style="width: 30rem">
      <h1>MY BOOKINGS</h1>
      <div class="img-pokemons justify-content-around">
        <% @bookings.each do |booking| %>
          <div class="pokemon-div">
            <%= link_to booking_path(booking) do %>
              <%= cl_image_tag booking.pokemon.photo.key, class: 'round-pokemon' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <% if current_user.pokemons.count > 0 %>
      <div class="card" style="width: 30rem">
        <h1>MY POKEMONS</h1>
        <div class="img-pokemons justify-content-around">
          <% @pokemons.each do |pokemon| %>
            <div class="pokemon-div">
              <%= link_to pokemon_path(pokemon) do %>
                <%= cl_image_tag pokemon.photo.key, class: 'round-pokemon'  %>
              <% end %>
            </div>
            <div class="poke-booking">
              <% if pokemon.bookings %>
                <% pokemon.bookings.each do |booking| %>
                  <%= link_to "Booking info", booking_path(booking) %>
                  <% if booking.status == nil %>
                    <p>Waiting for validation</p>
                    <%= simple_form_for(booking) do |f| %>
                        <%= f.input :status, as: :hidden, input_html: {value: true} %>
                        <%= f.submit "Validate" %>
                    <% end %>
                    <%= simple_form_for(booking) do |f| %>
                        <%= f.input :status, as: :hidden, input_html: {value: false} %>
                        <%= f.submit "Refuse" %>
                    <% end %>
                  <% elsif booking.status %>
                    <p>Validated</p>
                  <% else %>
                    <p>Refused</p>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>


    <div class="card" style="width: 30rem">
      <h1>MY INFOS</h1>
      <p>Profile picture / Change profile picture</p>
      <p>User email / Edit email</p>
      <p>Number of bookings</p>
      <p>Number of pokemons</p>
    </div>

  </div>
</div>




