<% unless params[:query].present? %>
<div class="banner" style="background-image: url('https://i.postimg.cc/Zqj5bFvc/pokelist.png');">
    <h1 class="text-center">Find the best pokemon for you!</h1>
</div>
<div class="container">
<% else %>
<div class="container ptpb">
<% end %>


<%= form_tag pokemons_path, method: :get do %>
<div class="searchcontainer">
  <div class="row justify-content-between">
  <%= text_field_tag :query,
    params[:query],
    class: "form-control searchbar col-9",
    placeholder: "Find a pokemon..."
  %>
  <%= submit_tag "SEARCH", class: "btn btn-primary col-2 searchbtn" %>
  </div>
</div>
<% end %>


<h4 class="intro">Featured pokemons</h4>

<div class="cards">

<% @pokemons.each_with_index do |pokemon, i| %>
      <div class="card style<%=i%>">
        <% if pokemon.user == current_user %>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar-card-owner" %>
            <% else %>
              <div class="my-poke">
                <%= current_user.email.chars.first.upcase %>
              </div>
            <% end %>
        <% end %>
        <%if pokemon.photo.attached? %>
          <%= link_to pokemon_path(pokemon) do %>
            <%= cl_image_tag pokemon.photo.key, class: "card-img-top" %>
          <% end %>
        <% else %>
          <div class="pokemon-product-index" style="background-image: url(<%= image_url("#{pokemon.element}.png")%>);">
            <h4 class="pokemon-name"><%= pokemon.name %></h4>
          </div>
        <% end %>
        <div class="card-body">
          <h4 class="card-title">
            <%= pokemon.name %>
            <%= image_tag "#{pokemon.element}.png", class: "element" %>
          </h4>
          <p>
            <%= pokemon.description %>
          </p>
          <% if policy(pokemon).show? %>
          <%= link_to 'See more', pokemon_path(pokemon), :class => 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
<% end %>
</div>
</div>
