<%= form_tag pokemons_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a pokemon"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


<div class="cards">

<% @pokemons.each do |pokemon| %>

      <div class="card" style="width: 15rem">
        <%if pokemon.photo.attached? %>
          <%= cl_image_tag pokemon.photo.key, class: "card-img-top" %>
        <% end %>
        <div class="card-body">
          <h4 class="card-title">
            <%= pokemon.name %>
            <%= image_tag "#{pokemon.element}.png", class: "element" %>
          </h4>
          <p>
            <%= pokemon.description %>
          </p>
          <% if policy(pokemon).show? %>
          <%= link_to 'See more', pokemon_path(pokemon), :class => 'btn btn-primary' %>
          <% end %>
        </div>
      </div>

<% end %>
</div>
