<div class="poke">

<div class="row">

  <div class="pokemon-image col-4">
    <%if @pokemon.photo.attached? %>
      <%= cl_image_tag @pokemon.photo.key, crop: :fill , class: "product-img" %>
    <% end %>
  </div>
  <div class="pkm-description col-8">
    <h4><%= @pokemon.name %> <%= image_tag "#{@pokemon.element}.png", class: "element" %></h4>
      <%= @pokemon.description %>
    <h5>Evolution level:  <%= @pokemon.evolution_level %></h5>
    <h5>Trainer: <%= @pokemon.user.email %></h5>
    <% if policy(@pokemon).update? %>
      <%= link_to 'Update infos', edit_pokemon_path(@pokemon), :class => 'btn btn-primary' %>
    <% end %>
    <% if policy(@pokemon).destroy? %>
      <%= link_to "Delete", pokemon_path(@pokemon), method: :delete, :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>

</div>
<%= link_to 'Book me', new_pokemon_booking_path(@pokemon), :class => 'btn btn-book btn-primary' %>



<h4>Reviews</h4>
  <% @reviews.each do |review| %>
    <% if review.booking.pokemon == @pokemon %>
      <div class="review">
        <p><%= review.content %>
        <br>
        <%= review.booking.user.email %>
        <%= link_to 'Delete', review_path(review), method: :delete, data: {confirm: "Are you sure?"}%>
        </p>
      </div>
    <% end %>
  <% end %>


